<!DOCTYPE html>
<html>
<head>
  <title>Codeforgood2014</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "test" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://public.tableausoftware.com/javascripts/api/tableau_v8.js"></script>
  <script src="http://www.chartjs.org/assets/Chart.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
